@tailwind base;
@tailwind components;
@tailwind utilities;

.filepond--panel-root {
    background-color: #f3f4f6;
    border: 2px dashed #d1d5db;
}
  
.filepond--drop-label {
    color: #374151;
}
  
.filepond--label-action {
    text-decoration-color: #60a5fa;
}

html, 
body {     
    min-height: 100%;
    height: 100%;
}
  
body > div {
    min-height: 100%;
}

.underline-except-last {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.underline-except-last::last-letter {
    text-decoration: none;
}

:root {
    color-scheme: only light;
  }
  
  html {
    forced-color-adjust: none;
    -ms-high-contrast: none;
    -webkit-forced-color-adjust: none;
  }
  
  @media (prefers-color-scheme: dark) {
    html {
      filter: none !important;
    }
  }
